*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	font: 16px/1.5 "Myriad Set Pro","Lucida Grande","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif,'Microsoft Yahei',Simsun;
	background-color: #efefef;
}
footer{
	height: 61.8px;
	width: 100%;
	display: flex;
	position: fixed;
	bottom: 0;
	background-color: #efefef;
}
.foot{
	height: 40px;
	width: 100%;
}
.footer1{	
	background: url(../images/home.png) no-repeat center;
	background-size: auto 2rem;	
} 
.footer2{
	background: url(../images/home2.png) no-repeat center;
	background-size:33%;	
}
.footer3{
	background: url(../images/home5.png) no-repeat center 130%;
	background-size: 33%;	
}
.footer4{
	background: url(../images/home3.png) no-repeat center;
	background-size:33%;	
}
.footer5{
	background: url(../images/home4.png) no-repeat center;
	background-size:33%;	
}
footer a{
	display: block;
	text-decoration: none;
}
footer div{
	width: 20%;
}
footer>div>a>p{
	text-align: center;
	font-size: 1rem;
	color: #777;
}